body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.input {
  width: 130px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url(image/Search.png);
  background-position-y: center !important;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px !important;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border: none;
}


.input:focus {
  width: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-weight: 700;
  color: #fff;
  font-size: 14px;
}
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  background: #dddd;
}

.card-logo{
  background: #fff;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.card:hover .card-logo{
  background: #ffb327;
}

.product-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-slider .swiper {
  width: 100%;
  height: 450px;
  margin: 20px auto;
}
.product-slider .addbag{
  display: none;
}
.product-slider .swiper-slide:hover{
  color: #ffb327;
}
.product-slider .swiper-slide:hover .addbag{
  display: inline;
  transform: translateY(-50px);
  transition: all .4s ease;
}
.addbag{
  transition: all .4s ease;
}

.filter-bg:hover .card-logo img{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%) contrast(105%);
}

.active, .btn:hover {
  color: #ffb327;
}

.empty{
  height: 31.25rem;
}

.blog-content a:hover{
  filter: invert(88%) sepia(14%) saturate(6892%) hue-rotate(336deg) brightness(101%) contrast(102%);
}
.social-icons-list a{
  width: 15px;
  height: 15px;
  display: flex;
}

.blog-card:hover .blog-content h1{
  color: #ffb327;
}

.form-grup input{
  border: none;
  width: 100%;
}
.form-grup input:focus{
  outline: none;
  box-shadow: none;
}
.footer ul li:hover{
  color: #ffb327;
}
.footer-social-icons a{
  width: 22px;
  height: 22px;
  display: flex;
}
.footer-social-icons a:hover{
  filter: invert(88%) sepia(14%) saturate(6892%) hue-rotate(336deg) brightness(101%) contrast(102%);
}



















.hamburger-menu {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  cursor: pointer;
}

.menu-bar1,
.menu-bar2,
.menu-bar3 {
  width: 2.5rem;
  height: 0.2rem;
  background-color: #000;
  margin: 0.5rem 0;
  transition: 0.4s;
}

.menu-bar2 {
  width: 2rem;
  margin-left: auto;
}

/* ROTATE FIRST BAR */
.active .menu-bar1 {
  /* transform: rotate(-45deg) translate(-7px, 8px); */
  transform: rotate(-45deg) translate(-0.7rem, 0.8rem);
}

/* FADE OUT SECOND BAR */
.active .menu-bar2 {
  opacity: 0;
}

/* ROTATE LAST BAR */
.active .menu-bar3 {
  /* transform: rotate(45deg) translate(-6px, -8px); */
  transform: rotate(45deg) translate(-0.6rem, -0.8rem);
}